*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(203, 217, 222);
}

header{
    background-color: white;
    padding: 10px;

}

#logo{
    font-size: 35px;
    font-weight: bold;
}

